{{#if nickname}}
<div class="hello">
    <span class="hello-text">Hello, {{nickname}}</span>
</div>
{{else}}
<div class="greeting">
    <span class="greeting-text">Welcome to improvised instagramm</span>
</div>
{{/if}}