body {
  background-image: linear-gradient(
    to bottom,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}
button:hover {
  background-color: #f6980c;
  box-shadow: 0 16px 36px rgba(246 152 12 / 20%);
  transition: background-color, 0.3s ease-in;
}

.greeting {
  display: flex;
  justify-content: center;
}
.greeting-text {
  color: aliceblue;
  font-size: 20px;
}
.hello {
  display: flex;
  justify-content: center;
}
.hello-text {
  color: aliceblue;
  font-size: 20px;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation__link {
  display: flex;
  font-size: large;
  margin-top: 5px;
  padding-left: 20px;
}
