<form name="signupform" method="POST" action="/auth/signup">
    <input name="email" placeholder="email" type="email" />
    <input name="nickname" placeholder="nickname" type="text" />
    <input name="password" placeholder="password" type="password" />

    <button class="btn btn-primary">Sign Up</button>

</form>